[build]
  command = "npm run build"
  publish = "dist/client"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[dev]
  targetPort = 3000

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/ssr"
  status = 200
  force = true
